In [1]:
import pandas as pd
import numpy as np

# The dataset_V2 contains the dataset with values converted from string to float, with biased values (7... and 9...) removed

In [7]:
data = pd.read_csv("dataset_V3.csv")

In [8]:
data.head()

,Unnamed: 0,PFQ061B,PFQ061C,PFQ061H,PAQ670,PAD675,PAD680,PAQ706,PAQ710,PAQ715,...,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100,SLD010H,CIQD002,CIQD003,CIQD004,CIQD005
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN

### Creating a correlation Matrix with the Y variables as rows and all the others as columns

In [9]:
correlationMatrix = data.corr().iloc[[1,2,3]].drop(['PFQ061B','PFQ061C','PFQ061H','Unnamed: 0'],axis=1)

In [10]:
correlationMatrix

,PAQ670,PAD675,PAD680,PAQ706,PAQ710,PAQ715,HUQ010,HUQ020,HUQ050,HUQ060,...,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100,SLD010H,CIQD002,CIQD003,CIQD004,CIQD005
PFQ061B,-0.117383,-0.032143,0.092893,NaN,0.145536,0.108612,0.310907,-0.064784,0.200713,-0.136969,...,0.113692,0.137767,0.111926,0.059656,0.125957,-0.016139,NaN,NaN,NaN,NaN
PFQ061C,-0.025134,-0.072066,0.061170,NaN,0.099875,0.066330,0.268038,-0.035282,0.155262,-0.011146,...,0.114560,0.115476,0.134937,0.083992,0.103114,-0.018102,NaN,NaN,NaN,NaN
PFQ061H,-0.028426,-0.036182,0.169259,NaN,0.098430,0.088955,0.224732,-0.055985,0.178229,-0.261242,...,0.130236,0.112197,0.156980,0.096836,0.137953,0.074688,NaN,NaN,NaN,NaN

In [24]:
correlationMatrix.idxmin(axis=1)

PFQ061B     HUQ060
PFQ061C    MCQ180C
PFQ061H     HUQ060
dtype: object

In [25]:
correlationMatrix['HUQ060']

PFQ061B   -0.136969
PFQ061C   -0.011146
PFQ061H   -0.261242
Name: HUQ060, dtype: float64

In [73]:
XY1 = data.drop(['PFQ061C','PFQ061H','Unnamed: 0'],axis=1)
XY1.head()

,PFQ061B,PAQ670,PAD675,PAD680,PAQ706,PAQ710,PAQ715,HUQ010,HUQ020,HUQ050,...,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100,SLD010H,CIQD002,CIQD003,CIQD004,CIQD005
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN

In [74]:
XY1.dropna(subset = ["PFQ061B"], inplace=True)

In [75]:
Y1 = XY1[['PFQ061B']]
X1 = XY1.drop('PFQ061B',axis=1)

In [76]:
XY1.head()

,PFQ061B,PAQ670,PAD675,PAD680,PAQ706,PAQ710,PAQ715,HUQ010,HUQ020,HUQ050,...,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100,SLD010H,CIQD002,CIQD003,CIQD004,CIQD005
850,1.0,NaN,NaN,300.0,NaN,3.0,3.0,1.0,3.0,2.0,...,0.0,0.0,0.0,0.0,NaN,8.0,NaN,NaN,NaN,NaN
985,3.0,NaN,NaN,540.0,NaN,4.0,8.0,5.0,2.0,5.0,...,0.0,0.0,0.0,0.0,NaN,9.0,NaN,NaN,NaN,NaN
1051,1.0,NaN,NaN,300.0,NaN,5.0,8.0,4.0,3.0,4.0,...,0.0,0.0,0.0,0.0,0.0,6.0,NaN,NaN,NaN,NaN
1110,1.0,NaN,NaN,180.0,NaN,3.0,8.0,2.0,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
1394,1.0,NaN,NaN,360.0,NaN,3.0,2.0,3.0,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN

In [59]:
from sklearn.model_selection import train_test_split

In [62]:
from sklearn import model_selection
# implementing train-test-split
X_train, X_test, y_train, y_test = train_test_split(X1, Y1, test_size=0.33, random_state=66)

In [63]:
from sklearn.ensemble.forest import RandomForestClassifier
# random forest model creation
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)
# predictions
rfc_predict = rfc.predict(X_test)

//anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [48]:
 import sklearn.linear_model as sk

 logreg = sk.LogisticRegressionCV()
 logreg.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').