In [1]:
# importing necessary libraries 
from sklearn import datasets 
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split 
import pandas as pd
import numpy as np

In [2]:
XY1 = pd.read_csv('PFQ061B.csv')

In [3]:
XY1.head()

,Unnamed: 0,Unnamed: 0.1,PFQ061B,PAD680,HUD080,HSQ470,HSQ490,HSQ493,HSQ496,MCQ180A,...,MCQ180F,MCQ180K,HUQ010,HUQ050,HUQ060,DPQ010,DPQ030,DPQ040,DPQ050,DPQ080
0,0,850,1.0,300.0,1.451001,0.000000,0.000000,0.000000,0.000000,50.460784,...,57.290179,34.595745,1.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0
1,1,985,3.0,540.0,1.451001,30.000000,30.000000,0.000000,0.000000,80.000000,...,57.290179,34.595745,5.0,5.0,3.0,0.0,0.0,0.0,0.0,0.0
2,2,1051,1.0,300.0,1.451001,2.000000,0.000000,30.000000,30.000000,50.000000,...,57.290179,34.595745,4.0,4.0,3.0,0.0,3.0,0.0,0.0,0.0
3,3,1110,1.0,180.0,1.451001,3.438531,1.835656,2.972137,5.081421,50.460784,...,57.290179,34.595745,2.0,5.0,3.0,0.0,0.0,0.0,0.0,0.0
4,4,1394,1.0,360.0,1.451001,3.438531,1.835656,2.972137,5.081421,50.460784,...,57.290179,34.595745,3.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0

In [4]:
X = XY1.drop(['PFQ061B','Unnamed: 0'],axis = 1)
Y = XY1[['PFQ061B']]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [6]:
from sklearn.svm import SVC 
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(X_train, y_train) 
svm_predictions = svm_model_linear.predict(X_test)

//anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [7]:
accuracy = svm_model_linear.score(X_test, y_test)

In [8]:
print(accuracy)

0.7603174603174603

In [ ]:
print(accuracy)