In [1]:
import pandas as pd
import numpy as np

# The dataset_V2 contains the dataset with values converted from string to float, with biased values (7... and 9...) removed

In [2]:
data = pd.read_csv("dataset_V2.csv")

In [3]:
data.head()

,Unnamed: 0,PFQ061B,PFQ061C,PFQ061H,PAQ670,PAD675,PAD680,PAQ706,PAQ710,PAQ715,...,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100,SLD010H,CIQD002,CIQD003,CIQD004,CIQD005
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN

### Creating a correlation Matrix with the Y variables as rows and all the others as columns

In [8]:
correlationMatrix = data.corr().iloc[[1,2,3]].drop(['PFQ061B','PFQ061C','PFQ061H','Unnamed: 0'],axis=1)

In [17]:
correlationMatrix

,PAQ670,PAD675,PAD680,PAQ706,PAQ710,PAQ715,HUQ010,HUQ020,HUQ050,HUQ060,...,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100,SLD010H,CIQD002,CIQD003,CIQD004,CIQD005
PFQ061B,-0.117047,-0.033132,0.042532,NaN,0.144144,0.112051,0.308195,-0.069530,0.197421,-0.140226,...,0.120344,0.146012,0.118773,0.055817,0.123551,-0.018728,NaN,NaN,NaN,NaN
PFQ061C,-0.029403,-0.071221,0.054440,NaN,0.096536,0.062719,0.265023,-0.040428,0.150369,-0.013172,...,0.118593,0.121123,0.140815,0.084716,0.101312,-0.020188,NaN,NaN,NaN,NaN
PFQ061H,-0.027889,-0.036743,0.054584,NaN,0.090678,0.089386,0.212553,-0.055086,0.175659,-0.263883,...,0.132994,0.103030,0.157054,0.083853,0.141327,0.003947,NaN,NaN,NaN,NaN

In [18]:
correlationMatrix['MCQ180C']

PFQ061B    0.005439
PFQ061C   -0.129832
PFQ061H    0.244701
Name: MCQ180C, dtype: float64